.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  background: white;
  color: black;
  border-radius: 50px;
  /* padding-left: 40%;
  padding-right: 30%; */
  border: 2px solid black;
}

.checkBox {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}
