.tableContainer {
  display: flex;
  flex-direction: column;
  /* flex-grow: 1; */
  width: 50%;
  /* align-items: center; */
  /* border: 2px yellow solid; */
}

.taskBox {
  display: flex;
  align-items: center;
}

.taskList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
