.tableContainer {
  display: flex;
  flex-direction: column;
  /* flex-grow: 1; */
  width: 70%;
  /* align-items: center; */
  /* border: 2px yellow solid; */
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 10px;
}

.taskBox {
  display: flex;
  align-items: center;
}

.taskList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
