.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: beige;
  height: 5em;
  /* background-color: #282c34; */
}

.headerContainer {
  /* border-left: 4px solid #6b6f75;
  border-right: 4px solid #6b6f75; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  height: 100%;
}

.title {
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  font-family: "Pangolin";
}

.headerLinks {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
}

.link {
  display: flex;
}

.time-1500 {
  /* pomodoro */
  background-color: #30497c;

}

.time-600 {
  /* long break */
  background-color: #528a11;

}

.time-300 {
  /* short break */
  background-color: #eca51f;

}
