.footer {
  border-top: 2px solid rgb(255, 255, 255);

  height: 7em;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "roboto";
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
  padding-top: 0.5rem;
}

.time {
  background-color: rgba(245, 168, 27, 0.6);
}

.night {
  background-color: rgb(139, 91, 0, 0.6);
  color: white;
}
